<div class="container">
  <h2>New key</h2>
  <input type="text" #inputRef (keyup)="onInputChange(inputRef)" />

  <div class="options">
    <button
      mat-button
      [ngClass]="{
        option: true,
        pinned: pin
      }"
      (click)="pin = !pin"
      [disabled]="ref.length > 0"
    >
      <mat-icon class="mat-18">push_pin</mat-icon>
      <span>{{ pin ? "Pinned" : "Pin" }}</span>
    </button>
    <button
      mat-button
      [ngClass]="{
        option: true,
        referenced: ref.length > 0
      }"
      (click)="onSync()"
    >
      <mat-icon class="mat-18">link</mat-icon> <span>Sync</span>
    </button>
  </div>

  <button
    (click)="onSubmit()"
    mat-raised-button
    (click)="(null)"
    color="primary"
  >
    Submit
  </button>
</div>
