<div class="background">
  <div class="container">
    <section class="left-side">
      <header>
        <div class="mat-display-2 main-title">Fast tracing</div>
        <h2>Project title</h2>
      </header>

      <section class="items">
        <div class="item" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7]">
          <div class="label">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="More tool"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-icon class="mat-18 eye-icon">
              {{ i % 2 === 0 ? "visibility" : "visibility_off" }}
            </mat-icon>
            <p>Lorem ipsum dolor {{ i }}</p>
          </div>
          <input type="text" />
        </div>
      </section>

      <div class="controls">
        <div class="left-controls">
          <button>File</button>
        </div>
        <div class="right-controls">
          <button (click)="onNewKey()">New key</button>
          <button>Submit</button>
        </div>
      </div>
    </section>

    <aside class="right-side">
      <textarea name="" id="">{{ dataSampleJSON.trim() }}</textarea>
      <div class="controls">
        <button>Cancel</button>
        <button>Save</button>
      </div>
    </aside>
  </div>
</div>

<!-- Menu -->

<mat-menu #menu="matMenu" class="option-menu">
  <button mat-menu-item (click)="(null)">
    <mat-icon class="mat-18">push_pin</mat-icon> <span>Pin</span>
  </button>
  <button mat-menu-item (click)="(null)">
    <mat-icon class="mat-18">link </mat-icon> <span>Sync</span>
  </button>
  <button mat-menu-item (click)="(null)">
    <mat-icon class="mat-18">delete </mat-icon> <span>Remove</span>
  </button>
</mat-menu>
