/* You can add global styles to this file, and also import other style files */

html,
body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*
*
MY CONFIGS
*
*/

/* ICONS */
mat-icon:hover {
  cursor: pointer;
}

/* MENU */
.option-menu {
  &.mat-menu-panel {
    border-radius: 1rem;

    button {
      span {
        padding-right: 1rem;
        font-weight: 500;
      }
    }

    .active_item {
      * {
        color: #207fdf !important;
      }
    }
  }
}

/* DIALOG */
mat-dialog-container {
  border-radius: 1rem !important;
}

/* TOOLTIP */
.tooltip {
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
}

/* DRAG & DROP */
.cdk-drag-preview {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: rgba(245, 245, 245, 0.911);
  font-weight: 500;
  // margin-bottom: 0.1rem;

  input {
    color: #222;
    border: none;
    outline: none;
    background-color: whitesmoke;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    font-weight: 600 !important;
    // font-family: "Courier New", Courier, monospace;
  }

  .label {
    display: flex;
    // border: 1px solid yellow;
    align-items: center;

    .eye-icon {
      margin-left: 1rem;
      margin-right: 1.5rem;
      transform: scale(0.9);
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }

    mat-icon {
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }

    p {
      position: relative;
      top: 0.4rem;
      cursor: pointer;
    }
  }
  input {
    width: 40%;
    font-weight: 500;
  }

  &.referenced {
    color: #1e90ff;
    input {
      background-color: #8cc6ffaa;
      color: black;
    }
  }

  &.pinned {
    p {
      color: white;
      text-decoration: underline;
      text-underline-offset: 0.2rem;
    }
  }

  &.visibility_off {
    opacity: 0.4;
  }

  .key_title {
    pointer-events: none;

    button,
    mat-icon {
      opacity: 0 !important;
    }
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.toast-error {
  color: #daa520;
}
